html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background-color: black;
}
.header > img {
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  padding-top: 10px;

}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav-links li {
  text-decoration: none;
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-section_banner img {
  width: 100%;
}

.main-section_articles {
  flex: 1;
  border: 1px red solid;

  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.main-section_articles article {
  padding: 10px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-section_articles div {
  border: 1px red solid;


  margin: 20px;
}
.main-section_articles img {
  object-fit:contain;
  width: 300px;

}

.main-section_articles p{
text-align: justify;
padding: 20px;
}
.footer {
  margin-top: auto;
  height: 100px;
  padding: 20px 10px 0 0;
  width: 100%;
  background-color: rgb(57, 57, 57);
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
}



.footer-copyright {
  font-style: oblique;
  color: white;
  font-size: 12px;
}
