*{
    margin: 0;

}

body{
    min-height: 100vh;
}

.contairner{
    display: flex;
    flex-direction: column;
  

    
}



.main *{
    border: 1px solid red;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content:end;
}

ul{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
}

.main-section2{
    display:flex;
    flex-direction: row;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
