/* Set some basic styles for the entire page */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Define a fade-in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Define an enlargement animation */
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

#header {

  /* border-bottom: 1px solid #ccc;
  box-shadow: -1px 10px 17px 2px rgba(0, 0, 0, 0.5);
  color: #fff; */

  height: 10em;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.header-logo{
  width: 20vh;
  height: auto;
  margin: 20px 40px 0px;
  
}

nav {
  padding: 20px 0 30px 0;
  background-color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 5px;
}

nav a {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(58, 77, 58);
}

main {
  display: flex;

  flex-direction: column;
  align-items: center;
}

/* .main-section_banner {
  box-shadow: -1px 10px 27px 2px rgba(0, 0, 0, 0.75);
} */

.main-section_banner img {
  width: 100%;
  height: auto;
  animation: fade-in 2s ease-in-out;
}

section:last-child {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 20px 100px 20px;
  justify-content: space-around;
  padding: 40px;
}

#main-section_about{
  padding: 60px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.about-img img{
  width: 100%;
}

.about-text{
  padding: 20px;
  
}
.about-text span{
  font-size: 40px;
}

#main-section_articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 10px;
}
article {
  flex: 0 1 350px;
  background-color: #ffffff;
  padding: 20px 50px;
  text-align: center;
  margin: 10px;
}

article img {
  padding: 20px 0px 20px 0px;
  width: 100%;
  height: auto;
  animation-delay: 250ms;
}

/* article img :hover {
  animation: enlarge 0.3s ease-in-out forwards;
} */

article h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

article p {
  border-top: 1px rgba(255, 255, 255, 0.434) solid;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 16px;
  text-align: justify;
  color: rgb(0, 0, 0);
}

#main-section_contact {
  width: 100%;
  height: auto;
  display: flex;
  padding: 100px;
  justify-content: space-evenly;
  background-color: white;
}

#form {
  display: flex;
  flex-direction: column;
  width: 20em;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.footer {
  margin-top: auto;
  height: 80px;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: black;
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: -1px 10px 27px 2px rgba(0, 0, 0, 0.75);
}

.footer-copyright {
  font-style: oblique;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
